h1, h2, h3, h4 {
    font-family: 'Saira Condensed', sans-serif !important;
}

* {
    font-family: 'Comfortaa', cursive !important;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin 0;
}
